<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

<nav class="site-header sticky-top py-1">
  <div style="width:2000px;height:20px;background-color: #ffffff;solid #000;margin-top:-10px;padding: 0px;"></div>
  <div class="container d-flex flex-column flex-md-row justify-content-between" style = "background-color: #f2f2f2;solid #000;">
    <a class="py-2" href="#">   <!-- logo -->
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
    </a>
    <a class="py-2 d-none d-md-inline-block" href="/"> Home </a>
    <a class="py-2 d-none d-md-inline-block" href="/single">Single Text</a>
    <!-- Multi text dropdown -->
    <div class="btn-group">
      <a class="nav-link dropdown-toggle" href="#" id="dropdownMulti" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Multi Text
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMulti">
        <a class="dropdown-item" href="/multi-comp">Multi Comparison</a>
        <a class="dropdown-item" href="/allusions">Allusion</a>
        <a class="dropdown-item" href="/overlap">Overlap</a>
      </div>
    </div>
    <!-- Essay Analysis -->
    <div class="btn-group">
      <a class="nav-link dropdown-toggle" href="#" id="dropdownEssay" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Essay Help
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownEssay">
        <a class="dropdown-item" href="/thesis">Thesis Analysis</a>
        <a class="dropdown-item" href="/passage">Passage Finder</a>
      </div>
    </div>
    <a class="py-2 d-none d-md-inline-block" href="/projects"> Projects </a>
    <a class="py-2 d-none d-md-inline-block" href="/downloads"> Pingry Texts </a>
  </div>
</nav>
