<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="/static/best_purp.png" alt="Logo" width="30px" height="30px" class="d-inline-block align-middle">
      Digital Humanities Pingry
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="howTo">How to Use</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/downloads">Download Text Files</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/analytics">Text Analytics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/generative">Generative Models</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Writerly Help
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/thesis">Thesis Analysis</a></li>
            <li><a class="dropdown-item" href="/passage">Passage Finder</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/projects">Projects</a>
        </li>
      </ul>
    </div>
  </div>
</div>
