<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<h3> Upload new Files </h3>


<form name ='multi_upload' action = '/upload_multifile' method=post enctype=multipart/form-data>
  <input type=file id= "file-upload" name=file>
  <input type=submit value="submit">
  <button type="button" onclick="removeFile(  )" id="removeBtn"><rb></rb> Clear </button> <br> <br>
  {% for file in files %}
    <p id='each' >{{file}}
    <!--<a href="/removefile?filename={{file}}" onclick=removeFile({{file}})>remove</a>-->

    <a href="/removefile?filename={{file}}" onclick="return ConfirmDelete();">remove</a>
    <p>
  {% endfor %}
</form>
<script>
  function removeFile(){
      //$(this).parent().remove();
      //$(this).parent() = "";
      //document.getElementById('file-upload').value = null;
      var frm = document.getElementById('file-upload').value;
      //alert(frm)
      //frm.reset();
      alert('3');


      //alert( $(this).parent().name )
      //file.parent() = "";
      //return false;
  }

  function ConfirmDelete() {
  var confm = window.confirm("Are you sure want to delete this !");
  if(confm == true) {
      return true;
  } else {
      return false;
  }
}
</script>
