<div class="container">
    <form id="fileupload" method="POST" enctype="multipart/form-data" action="/upload_multifile">
        <h2> File Upload </h2>
        <input type="file" name="file[]" class="files" id="files1" multiple="">

        <ul class="fileList">
            {% for item in files%}
                <li>{{item}} <a class="removeFile" href = {{ url_for("removefile", filename=item) }}>Remove</a></li>
            {% endfor %}
        </ul>


        <input type="submit" value="Upload">
    </form>
</div>