{% extends 'layout.html' %}

{% block body %}
  <h1> Single-Text Analysis </h1>
  <p> Gives introductory information about <br>
  - Sentence Length Statistics <br>
  - Top word frequencies <br>
  - Part of speech density <br>
  - Character sampling <br>
  - Word generationality rebound <p>

  {% include '/includes/_upload.html' %}

  <form action = '/temp' method = "POST" >


    <h3> Reader-Responsible Information </h3>
    <p> <br>  *please tokenize answers below with commas* <br> </p>

    <p> Major Characters: </p> <p>   <input type="text" name="char"  style="width:400px; height:50px;">  <br> </p>
    <p> First Generation Words: </p> <p>   <input type="text" name="gen"  style="width:400px; height:50px;">  <br> </p>


    <input type="submit" value="Submit">
  </form>

{% endblock %}
