{% extends 'layout.html' %}

{% block body %}
  <h1> Thesis Analysis </h1>

  <h5> Please enter in a one- or two-sentence thesis for your paper, as well as some supplementary information. </h5>
  <h8> In the future, once our dataset grows, we will be able to compare your thesis with other successful theses from fellow students (and perhaps even famous essayists!).
    For now, the statistics will only apply to the information you enter below. It is not stored. </h8> <br><br>

  <form action = '/thesis-result' method = "POST">
    <p> Thesis: </p> <p>  <input name="thesis" cols="40" rows="5" style="width:400px; height:100px;">  </input> <br> </p>
    <p> Critical Nouns: </p> <p>    <input type="text" name="cn"  style="width:400px; height:50px;">  <br> </p>
    <p> Critical Verbs: </p> <p>   <input type="text" name="cv"  style="width:400px; height:50px;">  <br> </p>
    <input type="submit" value="Submit">
  </form>


{% endblock %}
