<style>
.column {
  float: left;
  width: 50%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.purp-box{
  background-color: af6ef0;
  height:6%
}
</style>

{% extends 'layout.html' %}

{% block body %}

  <div class="row">
    <div class="column"><img src="static/logo.png" alt="Logo" width="80%" height="auto"></div>
    <div class="column"> <br><br><p> <font size="6">
    Welcome to <b> Pingry's Digital Humanities Text Analysis Lab </b>, for use by English classes, Humanities Research
    Projects, and curious souls! </font> <br><br><font size='4'>This website is meant to be a playground
    for Pingry's readers to look at creative and critical writing in an objective, numerical manner.
  </font></p></div>
  </div>



  <div class='purp-box'> <font color=white><h3> Why mix words and numbers? </h3> </font></div>
  <p> The beauty of natural language processing and digital humanities is often
  hidden from the general population of writers and readers. While, of course,
  a computer could never read and analyze text better than a human, it has the
  capacity to make interesting connections and find useful patterns much faster
  than a human. <br> We designed these algorithms in order to bridge the gap,
  to educate and empower all readers and writers in a world where large-scale,
  automated data analysis is ever-more important. </p>




  <br>

  <div class="row">

    <div class="column" > <b> Natural Language Processing (NLP): </b><p> the science of looking at large amounts of
    natural language with computers. It powers search engines, online translators, voice assistants,
    and much, much more.
    In the context of this website, NLP is a tool for the text analysis portion of digital humanities.
      </p></div>
      <div class="column"> <b> Digital Humanities (DH): </b> <p> the application of coding and statistical tools in the
      context of humanities fields, most notably literature, philosophy, and history. </p>
      </div>
  </div>






  <p> Want to see our code? Here's the
  <a href = 'https://github.com/nbergam2021/AmericanModernism'> link to our GitHub </a>
  </p>


{% endblock %}
