{% extends 'layout.html' %}

{% block body %}
  <img src="static/logo.png" alt="Logo" width="50%" height="auto">
  <h3> Welcome to the Pingry DH Lab, for use by English classes, Humanities Research Projects, and curious souls! </h3>
  <p>
  We are the digital humanities pioneers for the Pingry School's Humanities Independent Research program. We are working to create algorithms for our own research projects as well as for public use.
</p>

  <a href = 'https://github.com/nbergam2021/AmericanModernism'> Link to our GitHub </a>

{% endblock %}
