<style>
.column {
  float: left;
  width: 50%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.purp-box{
  background-color: af6ef0;
  height:6%
}
</style>

{% extends 'layout.html' %}

{% block body %}

  <div class="row">
    <div class="column"><img src="static/logo.png" alt="Logo" width="80%" height="auto"></div>
    <div class="column"> <br><br><p> <font size="6">
    Welcome to the <b> Digital Humanities Text Analysis Lab </b>, for use by English classes, Humanities Research
    Projects, and curious souls! </font> <br><br><font size='4'>This website is meant to be a playground
    for all readers and writers to look at creative and critical writing in an objective, numerical manner.
  </font></p></div>
  </div>



  <h2> Why mix words and numbers? </h2>
  <br><p> The beauty of natural language processing and digital humanities is often
  hidden from the general population of writers and readers, and we believe that is a problem. While, of course, a computer can never read and analyze text to the extent that a human can, it has the
  capacity to make interesting connections and see large scale patterns through objective, numerical analyses. As such, the capability of computers in regards to text analysis
  should be available to everyone. We designed these algorithms in order to bridge the gap,
  to allow all readers and writers to witness for themselves the potential of language processing. </p>




  <br><p></p>
  In short, spreading these concepts to a general audience is the mission of this website.
  <br><br

  <div class="row">

    <div class="column" > <b> Natural Language Processing (NLP): </b><p> the science of looking at large amounts of
    "natural language" (spoken and written word) with computers. It powers search engines, online translators, voice assistants,
    and much, much more.
      </p></div>
      <div class="column"> <b> Digital Humanities (DH): </b> <p> the application of coding and statistical tools in the
      context of humanities fields, most notably literature, philosophy, and history. </p>
      <br>
      </div>
      <br>
  </div>

  <p> Want to see our code? Here's the
  <a href = 'https://github.com/nbergam2021/AmericanModernism'> link to our GitHub </a>
  </p>


{% endblock %}
