{% extends 'layout.html' %}


{% block content %}

<div class="p-3 w-75 h-75 m-auto">
<textCenter><h1> Generative Models </h1></textCenter>
<br>

<p> Up to this point, the DHLab has mostly dealt in desciptive NLP,
  where we take in text and return metadata thereabout. This information can come in the form of
  straightforward statistics (e.g. sentence length variation, word distributions, tf-idf scores),
  inferences (e.g. sentiment analysis), or illuminating document structures (e.g. topic models, search engines). </p>

<p> There is, however, another side to the subject which is concerned with not just analyzing but creating language.
  This sort of generative NLP does not present direct utility to the artist or the author. If anything, it presents a challenge.
  It forces us to ponder how human creativity emerges. </p>

<p> <b>  The DHLab is currently working on implementing interfaces through which users can easily train and implement generative models
 of language, music, and visual art. </b> </p>

</div>


{% endblock %}
