{% extends 'layout.html' %}

{% block content %}

<!--
  <div class="row">
    <div class="column"><img src="static/logo.png" alt="Logo" width="80%" height="auto"></div>
    <div class="column"> <br><br><p> <font size="6">
    Welcome to the <b> Digital Humanities Text Analysis Lab </b>, for use by English classes, Humanities Research
    Projects, and curious souls! </font> <br><br><font size='4'>This website is meant to be a playground
    for all readers and writers to look at creative and critical writing in an objective, numerical manner.
  </font></p></div>
  </div>

-->


  <img src='/static/front.png' width=100% ></img>


  <div class="p-3 w-75 h-75 m-auto">
    <h2> Why mix words and numbers? </h2>
      <p> The brilliance of the computational perspective is often
      hidden from the general population of writers and readers. While, of course, a computer can never read and analyze text to the extent that a human can, it has the
      capacity to make interesting connections and see large scale patterns through objective, numerical analyses. As such, the capability of computers in regards to text analysis
      should be available to everyone. We designed these algorithms in order to bridge the gap,
      to allow all readers and writers to witness for themselves the potential of language processing. </p>
      <p>In short, spreading these concepts to a general audience is the mission of this website.</p>


      <div class="">
        <div class="column">
          <h3> Digital Humanities (DH): </h3>
          <p> the application of coding and statistical tools in the context of humanities fields such as history, literature, art, anthropology, and music.  </p>
        </div>

        <div class="column" >
          <h3> Natural Language Processing (NLP): </h3>
          <p> the subset of digital humanities concerned specifically with computer interaction with human language. This is the science that powers search engines, automatic translators, chatbots, voice assistants,
            and more. </p>
        </div>
      </div>
      <div class="text-center">
        <a href='https://github.com/nbergam2021/AmericanModernism'>Want to see our code? Here's the link to our GitHub </a>
      </div>
  </div>

{% endblock %}
