{% extends 'layout.html' %}
{% block style %}

{% endblock %}

{% block body %}
<textCenter><h1> Results of Multi-Text Analysis </h1></textCenter>



<div class = "div2" id = "pqID">
  {% for result in results %}
  <p style="text-align:left"> <b>Percent Quotes in {{result.name}}:</b> {{result.pq}} </p>
  {% endfor %}
</div>
<div class = "div2" id = "senID">
  {% for result in results %}
  <p style="text-align:left">

    <div class = "div2" id = "senID">
      <b> Sentence Length Statistics of {{result.name}} </b>
      <p> Mean: {{ result.sen_avg }} </p>
      <p> Standard Deviation: {{ result.sen_stdv }} </p>
    </div>

  {% endfor %}
</div>
<script>
function displayNum(divID,val) {
  var x = document.getElementById(divID.id);
  if (val  > -0.1){
    x.style.display = "block";
  }  else{
    x.style.display = "none";
  }
}
displayNum(pqID,{{results[0].pq}});
displayNum(senID,{{results[0].sen}});
</script>

<div class = "div2" id = "posID" style = "width:80%">
  <h3 style> Part of Speech Distribution </h3>
  {% for result in results %}
  <h6> Part of Speech Distribution for {{result.name}} </h6>
  <img src = {{ '/static/graphs/' + result.pos + '.png'  }} width = 55% alt = 'figure' >
  {% endfor %}
</div>

<div class = "div2" id = "topID" style = "width:80%">
  <h3 style> Graph of Top Words </h3>
  {% for result in results %}
  <h6> Graph of Top Words for {{result.name}} </h6>
  <img src = {{ '/static/graphs/' + result.top + '.png'  }} width = 55% alt = 'figure' >
  {% endfor %}
</div>

<div class = "div2" id = "overID" style = "width:80%">
  <h3 style> Graph of Overlapped Words </h3>
  {% for result in overlap %}
  <h6> Graph of Overlap for {{result[0]}} </h6>
  <img src = {{ '/static/graphs/' + result[1] + '.png'  }} width = 55% alt = 'figure' >
  {% endfor %}
</div>

<div class = "div2" id = "wpID" style = "width:80%">
  <h3 style> Graph of Word Progression </h3>
  {% for result in results %}
  <h6> Graph of Word Progression for {{result.name}} </h6>
  <img src = {{ '/static/graphs/' + result.wp + '.png'  }} width = 55% alt = 'figure' >
  {% endfor %}
</div>

<script>
function displayGraph(divID,val) {
  var x = document.getElementById(divID.id);
  if(val == 1.0){//string comparison not working and val == 1 didn't work
    x.style.display = "none";
  }  else{
    x.style.display = "block";
  }
}
</script>

{#
<!--
// <script>displayGraph(posID,{{results[0].pos}});</script>
// <script>displayGraph(topID,{{results[0].top}});</script>
// <script>displayGraph(wpID,{{results[0].wp}});</script>
// <script>displayGraph(overID,{{overlap[0][1]}});</script>
-->
#}

{% endblock %}
