{% extends 'layout.html' %}

{% block content %}

<!-- Outer flex container for two columns -->
<div class="w-75 h-75 p-3 m-auto d-flex flex-row justify-content-around align-items-start">
  <!-- Left column containing upload information -->
  <div class="p-3">
    <form id="fileupload" method="POST" enctype="multipart/form-data" action="/upload_multifile">
      <!-- Internal flex column container for form data -->
        <div class="d-flex flex-column justify-content-around">
          <div class="mb-2">
            <label for="files1" class="form-label h3">File Upload</label>
            <input type="file" name="file[]" class="form-control files" id="files1" multiple="">
          </div>
          <input button class="btn btn-primary" type="submit" value="Upload">

          <!-- Only show the uploaded files if there are any -->
          <div class="mt-2">
            {% if files %}
            <h5>Uploaded Files</h5>

            <ul class="mt-sm">
                {% for item in files%}
                    <li>{{item}} <a class="removeFile" href = {{ url_for("multifile.removefile", filename=item) }}>Remove</a></li>
                {% endfor %}
            </ul>

            {% endif %}
          </div>
        </div>

    </form>
  </div>

  <div class="p-3">
    <div class="mb-3">
      <h3> Select Text Analytics </h3>
      <h5 class="text-muted">Please tokenize any typed inputs with commas</h5>
    </div>

    <form class="" action='/reportMulti' method="POST">
        <h6> Requires 1 or more text: </h6>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="SLength" id="SLength">
          <label class="form-check-label" for="SLength" data-bs-toggle="tooltip" data-bs-html="true" title="Determines the average sentence length in a given corpus.">Sentence Length</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="POS" id="POS">
          <label for="POS" class="form-check-label" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="Displays a pi chart for the distribution of the parts of speeches in the text.">Part of Speech Distribution</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="TopWords" id="TopWords">
          <label for="TopWords" class="form-check-label" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="Displays a bar graph with frequently used words in the novel and their corresponding frequencies.">Frequent Words</label>
        </div>

        <!--
            1. words in the same group should be separated by commas.<br>
            2. words in different groups should be separated by semi-colons. -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="WordProg" id="wordProgBox">
          <label for="wordProgBox" class="form-check-label" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="Plots frequency of given group(s) of words over the course of the novel."">Word Progression</label>
          <input type="text" class="form-control" name="WordProgWords" id="WordProgWords" placeholder="Enter words for WP (seperated with commas)." data-bs-trigger="focus" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" title="this is a title" data-bs-content="this kid has no idea what hes doing with flask">
        </div>

        <!-- Term frequency-inverse document frequency <br> <br>
            Calculated by how many times the word appears in the text multiplied by the inverse document frequency of the word across a set of document -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="tfidf" id="TfIdfBox">
          <label for="TfIdfBox" class="form-check-label" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="Provides a measure for how important a word is to a certain text in a corpus.">Word Relevance (using TF-IDF)</label>
          <input type="text" class="form-control" name="TfIdfWords" id="TfIdfWords" placeholder="Enter words for tf-idf (seperated with commas).">
        </div>
        <!-- TfIdfWords box id and name -->

        <h6 class="mt-3"> Requires 2 or more texts: </h6>

        <!-- Displays a bar graph with words that frequently appear in both texts. Words are weighted based on how common they are. -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="over" id="ovre">
          <label for="over" class="form-check-label" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="Displays a bar graph with words that appear in all provided texts.">Overlap</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="topicmodeling" id="topicmodeling">
          <label for="topicmodeling" class="form-check-label" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="Noah what does this do.">Topic Modeling (using Latent Dirichlet Allocation)</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="tvect" id="tvect">
          <label for="tvect" class="form-check-label" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="Noah i still dont konw.">Thematic Vectorization (using TF-IDF)</label>
        </div>

        <input class="mt-2 btn btn-primary w-100" type="submit">
    </form>
  </div>
</div>

{% endblock %}
