{% extends 'layout.html' %}}
{% block content %}
<div class="p-3 w-75 h-75 m-auto">

  <div class="mb-2 d-flex justify-content-between align-items-center">
    <p class="h1">Results of Multi-Text Analysis</p>
    <button type="button" class="btn btn-secondary mb-2" data-bs-toggle="popover" data-bs-trigger="focus" title="Stemming & Our Labels" data-bs-content="Our language processing utilizes stemming, the process of taking words and removing their suffixes, leaving just the stem or root form. For example, the words eating, eaten, and eats would all be reduced down to their base word: eat. In the labels on the x-axis, you will usually find stemmed words, which is why they may appear incorrect or weird looking.">Why do my words look weird?</button>
  </div>


    <div class="accordion" id="accordionExample">
      <!-- Sentence length results -->
      {% if "SLength" in selections %}
      <div class="accordion-item">
        <h2 class="accordion-header h5" id="headingOne">
          <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#slength" aria-expanded="true" aria-controls="collapseOne">
            Sentence Length Statistics
          </div>
        </h2>
        <div id="slength" class="accordion-collapse collapse show" aria-labelledby="headingOne" >
          <div class="accordion-body">
            {% for result in results %}
              <div class = "div2" id = "senID">
                <b> Sentence Length Statistics of {{result.name}} </b>
                <p> Mean: {{ result.sen_avg }} </p>
                <p> Standard Deviation: {{ result.sen_stdv }} </p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}

      <!-- Part of speech results -->
      {% if "POS" in selections %}
      <div class="accordion-item">
        <h2 class="accordion-header h5" id="headingOne">
          <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#pos" aria-expanded="true" aria-controls="collapseOne">
            Part of Speech Distribution
          </div>
        </h2>
        <div id="pos" class="accordion-collapse collapse show" aria-labelledby="headingOne">
          <div class="accordion-body">
            {% for result in results %}
              <h6> Part of Speech Distribution for {{result.name}} </h6>
              <img src = {{ '/static/graphs/' + result.pos + '.png'  }} width = 55% alt = 'figure' >
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}

      <!-- Top words results -->
      {% if "TopWords" in selections %}
      <div class="accordion-item">
        <h2 class="accordion-header h5" id="headingOne">
          <div class="accordion-button w-100 d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#topwords" aria-expanded="true" aria-controls="collapseOne">
            Graph of Top Words
          </div>
        </h2>
        <div id="topwords" class="accordion-collapse collapse show" aria-labelledby="headingOne">
          <div class="accordion-body">
            {% for result in results %}
              <h6>Most Frequent Words Graph for {{ result.name }}.</h6>
              <img src = {{ '/static/graphs/' + result.top + '.png'  }} width = 55% alt = 'figure' >
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}

      <!-- Overlap words results -->
      {% if "over" in selections %}
      <div class="accordion-item">
        <h2 class="accordion-header h5" id="headingOne">
          <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#overlap" aria-expanded="true" aria-controls="collapseOne">
            Graph of Overlapped Words
          </div>
        </h2>
        <div id="overlap" class="accordion-collapse collapse show" aria-labelledby="headingOne">
          <div class="accordion-body">
            {% for result in overlap %}
              <h6> Graph of Overlap for {{result[0]}} </h6>
              <img src = {{ '/static/graphs/' + result[1] + '.png'  }} width = 55% alt = 'figure' >
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}

      <!-- Word progresison results -->
      {% if "WordProg" in selections %}
      <div class="accordion-item">
        <h2 class="accordion-header h5" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#wordprog" aria-expanded="true" aria-controls="collapseOne">
            Graph of Word Progression
          </button>
        </h2>
        <div id="wordprog" class="accordion-collapse collapse show" aria-labelledby="headingOne">
          <div class="accordion-body">
            {% for result in results %}
              <h6>Word Progression Theme Analysis Graph for {{ result.name }}.</h6>
              <img src = {{ '/static/graphs/' + result.wp + '.png'  }} width = 55% alt = 'figure' >
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}

      <!-- TFIDF progresison results -->
      {% if "tfidf" in selections %}
      <div class="accordion-item">
        <h2 class="accordion-header h5" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tfidf" aria-expanded="true" aria-controls="collapseOne">
            TF-IDF data
          </button>
        </h2>
        <div id="tfidf" class="accordion-collapse collapse show" aria-labelledby="headingOne" data>
          <div class="accordion-body">
            <img src = {{ '/static/graphs/' + results[0].tfidf + '.png'  }} width = 55% alt = 'figure' >
          </div>
        </div>
      </div>
      {% endif %}
    </div>

  <script>
  function displayGraph(divID,val) {
    var x = document.getElementById(divID.id);
    if(val == 1.0){//string comparison not working and val == 1 didn't work
      x.style.display = "none";
    }  else{
      x.style.display = "block";
    }
  }
  </script>

{% endblock %}

</div>
