{% extends 'layout.html' %}

{% block content %}

<div class="p-3 w-50 h-50 m-auto">

  <h1> Passage Sampling </h1>
  <p> This method is meant to allow you to sample passages of your text by certain keywords and themes.
  This is also good for randomly sampling a character and the contexts in which their name shows up.
  Play around and brainstorm!<p>


  <div>
    {% include "./includes/_uploadmulti.html" %}
  </div>


  <form action = '/passage-results' method="POST" enctype=multipart/form-data>

    <label for="term"> Please enter your keyword/n-gram: </label>
    <input id="term" type="input" class = "form-control mb-2" name="term" placeholder = "Put words to be examined, separated by commas" style ="width = 100%" id = "wordProgWords">

    <div class="row mb-2">
      <div class="col">
        <label for="numSamp"> Number of Samples: </label>
        <input id="numSamp" type="input" class = "form-control" name="numSamp" placeholder = "Number of samples" style ="width = 100%" id = "wordProgWords">
      </div>
      <div class="col">
        <label for="wordCount"> Word Count of Samples: </label>
        <input id="wordCount" type="input" class = "form-control" name="wordCount" placeholder = "Word count of samples" style ="width = 100%" id = "wordProgWords">
      </div>
    </div>

    <div class="text-center">
      <input type="submit" value="Submit" class="btn btn-primary w-50 mt-2">
    </div>

  </form>
</div>


{% endblock %}