{% extends 'layout.html' %}

{% block body %}
  <img src="static/logo.png" alt="Logo" width="30%" height="auto">
  <h5> The Digital Humanities Lab is dedicated to helping facilitate innovative
    humanities research and curricula at Pingry and beyond. Here are just a few of the projects
  we would like to showcase. </h5>

  <br>

  <h6>American Modernism </h6>


  The reading, writing, and analysis of literature are all exploratory activities, in which we gain insight into areas of the mind. This insight, however, is more than just creative output. Literature, like other disciplines, plays a key role in the acquisition of knowledge and truth, and builds upon the previous progress made by other works. Using the novels of William Faulkner, primarily As I Lay Dying and The Sound and The Fury, as a blueprint for the representation of experience, we create a philosophical framework that builds upon previous epistemological designs. While Faulkner is the lynchpin for our analysis, we also consider other authors using the same critical lens. Such analysis can be twofold: 1) to consider how other works can be similarly abstracted into our philosophical model and 2) to think about how other works, based on our model, inhabit and create space within our mind and impact our experience.


  <br><br><br>

  <h6>Children's Storytelling</h6>

  According to the literary framework of ‘altruistic punishment,’ humans read
literature because of an inherent desire to punish wrongdoing – a society of
‘cooperators’ relies on ‘punishers’ to fend off ‘defectors’ that endanger the
beneficial trust of society. This study investigates the association between
children's guided creative writing and their performance in the economic game
theory experiment known as the ultimatum game to determine how the altruistic
punishment framework can be applied to their understanding of literature.

  <br><br><br>

  <h6>Landmark Papers in Computer Science</h6>

  What makes a research paper great, in form and/or substance? How do new ideas enter the “canon” of computer science? How does one obtain immortality in the names of algorithms and theorems? These are the humanistic questions we ask in this unit. We approach groundbreaking computer science ideas related to industry, cryptography, and theory through their original publications, rather than polished, second-hand explanations. We will read and discuss landmark papers with an eye for both raw content and expository style. In essence, we will treat computer science research literature as literature, worth analyzing for aesthetic and historical reasons.
  In reading research papers, we will practice the “three-pass” method, as outlined by S. Keshav. These are essentially three successive levels of depth with which one should read a paper. We spend most of the unit gleaning first-passes (essentially just abstract, introduction, and conclusion), and as we work our way up to the third pass we exchange breadth for depth in our discussions.




{% endblock %}
