{% extends 'layout.html' %}

{% block content %}
<div class="p-3 w-75 h-75 m-auto">
  <h1> Thesis Analysis </h1>

  <h5> Please enter in these key parts of your essay. </h5>
  <h8> In the future, once our dataset grows, we will be able to compare the stats of your intro, thesis, and conclusion with other successful theses from fellow students (and perhaps even famous essayists!).
    For now, the statistics will only apply to the information you enter below. It is not stored. </h8> <br><br>

  <form action = '/thesis-result' method = "POST">
    <p> Intro (without thesis): </p> <p>  <textarea name="intro" cols="40" rows="50" style="width:400px; height:200px;">  </textarea> <br> </p>
    <p> Thesis: </p> <p>  <textarea name="thesis" cols="40" rows="20" style="width:400px; height:200px;">  </textarea> <br> </p>
    <p> Conclusion: </p> <p>  <textarea name="conclusion" cols="50" rows="5" style="width:400px; height:200px;">  </textarea> <br> </p>

    <input type="submit" value="Submit">
  </form>
</div>


{% endblock %}
